{% extends "base.html" %}

{% block title %}
Приложение Notes
{% endblock %}
{% block link %}<link rel="stylesheet" type="text/css" href="static/css/login.css">{% endblock %}
{% block content %}




<form action='/login' method='post'>
    <div class="login-form">
        <p name="error"> {{error}} </p>
        <input type="text" name="login" placeholder="Логин">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Войти</button>

    </div>
</form>

{% endblock %}